# WordPress Site Credentials
WORDPRESS_URL=your_wordpress_site_url
USERNAME=your_wordpress_username
PASSWORD=your_wordpress_password

# Selenium WebDriver Configuration
SELENIUM_BROWSER=chrome
SELENIUM_DRIVER_PATH=./node_modules/chromedriver/bin/chromedriver

# Test Environment
HEADLESS_MODE=false
